.btn {
    display: inline-block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #9B59FA;
    color: white;
    box-shadow: 0 2p 4px #0004;
}
    .btn:hover {
        box-shadow: 0 4px 8px black;
        cursor: pointer;
    }