
body {
    background-color: cornflowerblue;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
    }
        .left-column {
            display: inline-block;
            width: 40%;
            background-color: blue;
            float: left;
            padding: 40px;
            padding-bottom: 20px;
            margin-top: 20px;
        }
            .bottomn-link {
                display: inline-block;
                width: 100%;
                color: white;
            }
                .link {
                    color: white;
                }
        .right-column {
            display: inline-block;
            width: 60%;
            background-color: white;
            float: left;
            padding: 60px;
        }
            .page-title {
            }
            p{
            }
                .text {
                }
            .btn {
                display: inline-block;
                padding: 10px;
                padding-left: 40px;
                padding-right: 40px;
                line-height: 20px;
                font-size: 18px;
                border-radius: 20px;
                background-color: #9B59FA;
                color: white;
            }
        