
body {
    background-color: cornflowerblue;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
        position: relative;
    }
        .left-column {
            display: inline-block;
            width: 40%;
            background-color: blue;
            float: left;
            padding: 40px;
            padding-bottom: 20px;
            position: absolute;
            top: 30px;
            bottom: 30px;
        }
            .bottomn-link {
                display: inline-block;
                width: 100%;
                color: white;
                position: absolute;
                bottom: 20px;
                left: 40px;
                right: 40px;
            }
                .link {
                    color: white;
                    position: absolute;
                    bottom: 20px;
                    left: 40px;
                    right: 40px;
                }
        .right-column {
            display: inline-block;
            width: 60%;
            background-color: white;
            float: right;
            padding: 60px;
         }
            .page-title {
            }
            p{
            }
                .text {
                }
      
        